.logo{
  height: 40px;
}
            /*CARRITO*/
#botonCarrito {
  border-color: rgb(38, 204, 23);
  color:rgb(0, 0, 0);
  background-color: rgb(163, 226, 128);
  padding: 12px;
}


            /*DETALLE ITEM*/

.item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: auto;
  transition: transform 0.3s;
}

.image-container.hovered {
  transform: scale(1.1);
}

.item-imagen {
  width: 100%;
  height: auto;
}

.content-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-container {
  margin-bottom: 10px;
}

.precio {
  color: #f2582d;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
}

.cantidades-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Cantidad {
  color: #6d1a02;
  font-size: 20px;
  margin-right: 10px;
}

.cantidades {
  display: flex;
  align-items: center;
}

.cantidades button {
  margin: 5px;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(184, 205, 222);
  padding: 5px;
  font-size: 20px;
}

.cantidad-mas:hover {
  background-color: #36fa5a;
}

.cantidad-menos:hover {
  background-color: #f66d6d;
}

.agregar-carrito {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.agregar-carrito:hover {
  background-color: #45a049;
}

.content-container1 {
  margin-top: 20px;
  text-align: center;
}

.descripcion {
  padding: 10px;
  margin: 20px;
  border-top: 2px solid red;
}

.mensaje-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0d390;
  border: 2px solid #000000;
  padding: 10px;
  font-size: 17px;
}

.mensaje {
  text-align: center;
}

.Volver {
  margin-top: 20px;
}
            
            
          /*LISTA PRODUCTOS*/
.VerMas {
  border: 1px solid #4d4c4c;
  background-color: rgb(250, 250, 150);
  color:rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria-container {
  margin-bottom: 20px;
}

.item-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoria button,  .Volver {
  background-color: #f5c660;
  color: #000000;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
  Margin: 20px;
  border-radius: 4px;
  text-decoration: none;
}

.categoria button.active:hover {
  background-color: #36fa5a;
}

          /*CARRITO*/
.Cart {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Cart h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Cart-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.Cart-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Cart-container div {
  font-size: 16px;
}

.Cart-container button {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.Cart-container button:hover {
  background-color: #f1bfbf;
}

.Cart-container p {
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}
  /*ORDENES*/

  .Orden-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center};
  
  .Ordenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  
  .Ordenes-titulo, .Cart-Vacio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  
  .Ordenes form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Ordenes form div {
    margin-bottom: 10px;
  }
  
  .Ordenes form label {
    margin-right: 10px;
  }
  
  .Ordenes form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Ordenes form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Ordenes form button:hover {
    background-color: #12982a;
  }

  /*Confirmacion*/
  .confirmacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  
  .confirmacion-titulo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .confirmacion-imagen {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .confirmacion-orden {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .confirmacion-detalle {
    font-size: 18px;
  }
  
/*FOOTER*/

  .footer {
    padding: 10px 0;
    background-color: #eaeaea;
    color: #000000;
  }
  
  .footer .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .footer .footer-logo {
    margin-right: 60px;
  }
  
  .footer .footer-logo img {
    max-width: 200px;
    height: auto;
  }
  
  .footer .footer-social-icons {
    display: flex;
    margin-right: 10px;
  }
  
  .footer .footer-social-icons a {
    color: #333;
    font-size: 40px;
    margin-right: 10px;
  }
  
  .footer .footer-text {
    font-size: 14px;
    text-align: center;
  }

  /*CONTACTOS*/
  .contacto-container {
    display: flex;
    justify-content: center;
  }
  
  .contacto-form {
    width: 400px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contacto-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contacto-form input,
  .contacto-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contacto-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contacto-form button[type="submit"]:hover {
    background-color: #45a049;
  }

  .Contactos{
  display: flex;
  background: linear-gradient(to bottom, #e0dfdf, #b3a29b);
}

.contacto-redes{
width: 50%;
padding: 40px;
display: flex;
flex-direction: column;
text-decoration: none;
font-size: 24px;
}

.contacto-redes img {
  max-width: 100px;
  margin: 30px;
  height: auto;
}

.fondo{
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
}

.mapa{
  padding: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #c5dbf3;
}
.direccion-container {
  padding: 20px;
  margin-top: 20px;
}

.direccion-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.direccion-container p {
  margin: 5px 0;
}

.imagen-grande img {
  width: 100%;
  max-width: 100%;
  height: auto;
}